*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100vh;

    background-color: #02061dd6;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}